<h1>
<%= @post.title %>
</h1>
<p>
<%= @post.user.name %>
</p>
<p>
<%= image_tag @post.image, :width=>500, height:700 %>
</p>
<p>
<%= @post.description %>
</p>

<p>
Number of votes: <%= @post.get_votes %>
</p>

<% if @post.votes.where(:user_id => current_user.id).empty?  %>
  <%= link_to "Like", post_votes_path(@post), method: :post %> 
<% else %>
  <% if @vote.is_active? %>
    <%= link_to "Unlike", post_vote_path(@post, @vote), method: :patch %>
  <% else %>
    <%= link_to "Like", post_vote_path(@post, @vote), method: :patch %>
  <% end %>
<% end %>
<!-- <%= link_to "like", "javascript:;", id: 'sendvote', post_id: @post.id %> -->

<%= link_to "Edit", edit_post_path(@post) %>
<%= link_to "Destroy", post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to "Home", root_path %>
